.heading {
  color: #fff;
  font-size: 22;
  font-weight: 500;
}
.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.subheaderText {
  color: #fff;
  font-size: 16;
  font-weight: 500;
}
